# Precision RTL Synthesis  64-bit 2016.1.0.15 (Production Release) Wed Jun  8 09:35:56 PDT 2016

CONFIG STEPPING="0";
# Low order three bits of input port
# High order four bits of outpput port 

# Outputs
## Expansion Set
NET output(31) LOC = P2;
NET output(30) LOC = R7;
NET output(29) LOC = P4;
NET output(28) LOC = T2;

NET overflow LOC = R5;

NET zero LOC = R3;

# Inputs
## Expansion Set
NET x(2) LOC = N5;
NET x(1) LOC = L4;
NET x(0) LOC = N2;

NET y(2) LOC = R9;
NET y(1) LOC = M3;
NET y(0) LOC = P1;

NET add_sub LOC = P7;

## User LEDs and Switch Connection
NET logic_func(1) LOC = AC11;
NET logic_func(0) LOC = AD11;

NET func(1) LOC = AF8;
NET func(0) LOC = AF9;
